<ul class="nav" role="menu">
    <!-- <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li> -->
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-tags" role="menuitem"><a href="{{site.baseurl}}tags/">Tags</a></li>
    <li class="nav-publications" role="menuitem"><a href="{{site.baseurl}}publications/">Publications</a></li>
    <li class="nav-podcast" role="menuitem"><a href="{{site.baseurl}}podcast/">Podcast</a></li>
    <li class="nav-annotated-papers" role="menuitem"><a href="https://github.com/spirosbax/Annotated_Papers">Annotated Papers</a></li>
    <li class="nav-cv" role="menuitem"><a href="{{site.url}}{{site.baseurl}}/assets/pdf/Baxevanakis_Curriculum_Vitae.pdf">CV</a></li>
    <li class="nav-social" role="menuitem"><a href="{{site.baseurl}}social/">Social</a></li>
    <!-- <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/getting-started/">Getting Started</a></li> -->
    <!-- <li class="nav-try-ghost" role="menuitem"><a href="https://ghost.org">Try Ghost</a></li> -->
</ul>
