<nav class="site-nav">
    <div class="site-nav-left">
        {% if page.current != 'home' %}
            {% if site.logo %}
                <a class="site-nav-logo" href="{{ site.url }}{{ site.baseurl }}"><img src="{{ site.baseurl}}{{ site.logo }}" alt="{{ site.title }}" /></a>
            {% else %}
                <a class="site-nav-logo" href="{{ site.url }}{{ site.baseurl }}">{{ site.title }}</a>
            {% endif %}
        {% endif %}
        {% if page.navigation %}
            {% include navigation.html %}
        {% endif %}
    </div>
    <div class="site-nav-right">
        <div class="social-links">
            <a class="social-link social-link-tw" href="{{ site.url }}{{ site.baseurl }}/assets/pdf/Baxevanakis_Curriculum_Vitae.pdf" target="_blank" rel="noopener"><i class="ai ai-cv ai-2x"></i></a>
            {% if site.facebook %}
                <a class="social-link social-link-fb" href="https://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener">{% include facebook.html %}</a>
            {% endif %}
            {% if site.twitter %}
                <a class="social-link social-link-tw" href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener"><i class="fab fa-twitter fa-2x"></i></a>
            {% endif %}
            {% if site.github %}
                <a class="social-link social-link-gh" href="https://github.com/{{ site.github }}" target="_blank" rel="noopener"><i class="fab fa-github fa-2x"></i></a>
            {% endif %}
            {% if site.linkedin %}
                <a class="social-link social-link-li" href="https://linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="noopener"><i class="fab fa-linkedin-in fa-2x"></i></a>
            {% endif %}
            {% if site.email %}
                <a class="social-link social-link-li" href="mailto:{{ site.email | encode_email }}" target="_blank" rel="noopener" title="Email"><i class="fas fa-envelope fa-2x"></i></a>
            {% endif %}
            {% if site.scholar %}
                <a class="social-link social-link-li" href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" target="_blank" rel="noopener" title="Google Scholar"><i class="ai ai-google-scholar ai-2x"></i></a>
            {% endif %}
            {% if site.orcid_id %}
                <a class="social-link social-link-li" href="https://orcid.org/{{ site.orcid_id }}" target="_blank" title="ORCID" rel="noopener"><i class="ai ai-orcid ai-2x"></i></a>
            {% endif %}


        </div>
        {% if site.subscribers %}
            <a class="subscribe-button" href="#subscribe">Subscribe</a>
        {% endif %}
    </div>
</nav>
